.header {
    background-color: rgb(29, 155, 240);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    height: 80px;
    justify-content: center;
    color: white;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
    align-items: center;
    margin-bottom: 50px;
}

.title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

.version {
    font-size: 18px;
}